version: "3.8"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - ./media_data:/app/media 
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://literarium:senha123@db:5432/literarium

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=literarium
      - POSTGRES_USER=literarium
      - POSTGRES_PASSWORD=senha123

volumes:
  postgres_data: